<app-navbar></app-navbar>

<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2>Log Detayları</h2>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <input type="text" placeholder="Ara" [(ngModel)]="searchTerm">
        <button class="btn btn-primary" (click)="searchLogs()">Ara</button>
      </div>
      <div *ngIf="logs.length > 0; else noData">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><input type="checkbox" (change)="selectAll($event)" /> Hepsini Seç</th>
              <th scope="col">Durum</th>
              <th scope="col">Kullanıcı ID</th>
              <th scope="col">İşlem Tipi</th>
              <th scope="col">Tarih/Saat</th>
              <th scope="col">Açıklama</th>
              <th scope="col">Kullanıcı Tip</th>
              <th scope="col">IP</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of logs | paginate: { itemsPerPage: 10, currentPage: page }">
              <td><input type="checkbox" [(ngModel)]="log.selected"></td>
              <td>{{ log.durum }}</td>
              <td>{{ log.KullaniciId }}</td>
              <td>{{ log.IslemTip }}</td>
              <td>{{ log.tarihveSaat | date:'HH:mm, dd.MM.yyyy' }}</td>
              <td>{{ log.aciklama }}</td>
              <td>{{ log.kullaniciTip }}</td>
              <td>{{ log.IP }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="mb-3">
      <button class="btn btn-success" (click)="exportToExcel()">Export to Excel</button>
    </div>
  </div>
</div>

<ng-template #noData>
  <p>No data available.</p>
</ng-template>
