<app-navbar></app-navbar>
<app-map></app-map>

<body>
  <div class="container">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-xs-6">
              <h2>Taşınmaz Listesi</h2>
            </div>
            <!--Ekleme butonu-->
            <div class="col-xs-6">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTasinmazModal">
                Yeni Taşınmaz Ekle
              </button>
            </div>
          </div>
        </div>
        <!--Search Bar-->
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th>İl</th>
              <th>İlçe</th>
              <th>Mahalle</th>
              <th>Adres</th>
              <th>Ada</th>
              <th>Parsel</th>
              <th>Nitelik</th>
              <th>Koordinat Bilgileri</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tasinmaz of tasinmazlar">
              <td>{{ tasinmaz.name }}</td>
              <td>{{ tasinmaz.mahalle.ilce.il.name }}</td>
              <td>{{ tasinmaz.mahalle.ilce.name }}</td>
              <td>{{ tasinmaz.mahalle.name }}</td>
              <td>{{ tasinmaz.adres }}</td>
              <td>{{ tasinmaz.ada }}</td>
              <td>{{ tasinmaz.parsel }}</td>
              <td>{{ tasinmaz.nitelik }}</td>
              <td>{{ tasinmaz.koordinatX }} , {{ tasinmaz.koordinatY }}</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="openUpdateModal(tasinmaz.id)" data-bs-toggle="modal" data-bs-target="#updateTasinmazModal">Düzenle</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openDeleteModal(tasinmaz.id)" data-bs-toggle="modal" data-bs-target="#deleteTasinmazModal">Sil</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="goToLocation()"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" /></svg></button>          
              </td>
            </tr>
          </tbody>
        </table>
        <!--Export Excel Buttonu-->
        <button type="button" class="btn btn-primary" (click)="exportToExcel()">Export to Excel</button>
      </div>
    </div>
  </div>
  <app-add (tasinmazAdded)="onTasinmazAdded()"></app-add>
  <app-update (tasinmazUpdated)="onTasinmazUpdated()"></app-update>
  <app-delete [tasinmazId]="selectedTasinmazId" (tasinmazDeleted)="onTasinmazDeleted($event)"></app-delete>
</body>
