<app-navbar></app-navbar>

<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2>Log Listesi</h2>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="button" routerLink="/log/log-details">Log Detayları</button> 
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Durum</th>
            <th scope="col">Kullanıcı ID</th>
            <th scope="col">İşlem Tipi</th>
            <th scope="col">Tarih/Saat</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Kullanıcı Tip</th>
            <th scope="col">IP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs | paginate: { itemsPerPage: 10, currentPage: page }">
            <td></td>
            <td>{{ log.durum }}</td>
            <td>{{ log.KullaniciId }}</td>
            <td>{{ log.IslemTip }}</td>
            <td>{{ log.tarihveSaat | date:'HH:mm, dd.MM.yyyy' }}</td>
            <td>{{ log.aciklama }}</td>
            <td>{{ log.kullaniciTip }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>