<body>
  <div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true" #updateupdateUserModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateUserModalLabel">Kullanıcı Güncelle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">İsim</label>
              <input type="text" id="name" formControlName="name" class="form-control">
              <div *ngIf="updateUserForm.controls.name.invalid && (updateUserForm.controls.name.dirty || updateUserForm.controls.name.touched)" class="text-danger">
                İsim zorunludur.
              </div>
            </div>
            <div class="mb-3">
              <label for="surname" class="form-label">Soyisim</label>
              <input type="text" id="surname" formControlName="surname" class="form-control">
              <div *ngIf="updateUserForm.controls.surname.invalid && (updateUserForm.controls.surname.dirty || updateUserForm.controls.surname.touched)" class="text-danger">
                Soyisim zorunludur.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control">
              <div *ngIf="updateUserForm.controls.email.invalid && (updateUserForm.controls.email.dirty || updateUserForm.controls.email.touched)" class="text-danger">
                Geçerli bir email zorunludur.
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Şifre</label>
              <input type="password" id="password" formControlName="password" class="form-control">
              <div *ngIf="updateUserForm.controls.password.invalid && (updateUserForm.controls.password.dirty || updateUserForm.controls.password.touched)" class="text-danger">
                Şifre zorunludur.
              </div>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Telefon</label>
              <input type="text" id="phone" formControlName="phone" class="form-control">
              <div *ngIf="updateUserForm.controls.phone.invalid && (updateUserForm.controls.phone.dirty || updateUserForm.controls.phone.touched)" class="text-danger">
                Telefon zorunludur.
              </div>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Rol</label>
              <input type="text" id="role" formControlName="rol" class="form-control">
              <div *ngIf="updateUserForm.controls.rol.invalid && (updateUserForm.controls.rol.dirty || updateUserForm.controls.rol.touched)" class="text-danger">
                Rol zorunludur.
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
              <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
